@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Click <a href="@Url.Action("Index", "Task")">Task Managment System </a>.</h2>
</div>
